<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="/register" method="post">
<label>User Name:</label>
<input type="text" name="username" placeholder="Enter username"/>
<br></br>
<label>Email Id:</label>
<input type="email" name="email" placeholder="Enter Email Id"/>
<br></br>
<label>Password:</label>
<input type="password" name="Password" placeholder="Enter Password"/>
<br></br>
<label>Gender:</label>
M<input type="radio" name="gender" value="male">
F<input type="radio" name="gender" value="female">
O<input type="radio" name="gender" value="other">
<br/>
<label>Role:</label>
Admin<input type="radio" name="role" value="admin">
User<input type="radio" name="role" value="user">
<br></br>
<label>Address:</label>
<textarea name="address"></textarea>
<br/>
<button type="submit" value="Register">submit</button>
</form>
</body>
</html>